<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="https://cdn.jim-nielsen.com/ios/512/karaoke-face-sing-songs-2018-11-16.png"/>
  <title>Edit Reservation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <style>
    html,body{
background-image: url('https://wallpaperaccess.com/full/2035085.jpg');
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 990px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.submit_btn{
color: black;
background-color: #FFC312;
margin-left: 14%;
width: 100px;
}

.submit_btn:hover{
color: black;
background-color: white;
}
    
.cancel_btn{
color: black;
margin-left: 14%;
background-color: #FFC312;
width: 100px;
}

.cancel_btn:hover{
color: black;
background-color: white;
}
    
.links{
color: white;
}

.links a{
margin-left: 4px;
}
  </style>

</head>
<body>
  <h1 style="text-align:center; color:white;">MUSICBOX KTV & BAR</h1>
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align:center; color:white;">Edit Reservation</h3>        
      </div>
      <div class="card-body">
        <form method="post" action="../updatereservation">
          <div class="input-group form-group">
            <div class="input-group-prepend">
            </div> 
            <p><label for="name" style="color:white;">Name</label>
    <input type="text" class="form-control" style="width:359px; " name="name" value="<%= data.name %>" placeholder="name">
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
            </div>
            <p><label for="name" style="color:white;">Phone</label>
            <input type="text" class="form-control" style="width:359px;" name="phone" value="<%= data.phone %>"placeholder="phone" />
          </div>
          
          <div class="input-group form-group">
            <div class="input-group-prepend">
            </div>
            <p style="color:white; font-size: 15px; "> Package</p> 
    <select id="package" name="package" style="width:520px; height:39px">
    <option value="<%= data.package %>"><%= data.package %></option> 
    <option value="bronze">bronze</option>
    <option value="silver">silver</option>
    <option value="gold">gold</option>
    <option value="platinum">platinum</option>
    <option value="penthouse">penthouse</option>
    </select>
          </div>
          

          <div class="input-group form-group">
            <div class="input-group-prepend">
            <input type="text" class="form-control" name="date" value="<%= data.date %>"placeholder="date" />
            <input type="text" class="form-control" name="time" value="<%= data.time %>"placeholder="time" />
          </div>
            </div>
          
          <div class="input-group form-group">
            <div class="input-group-prepend">
            </div>
            <p><label for="name" style="color:white;">Sections</label>
            <input type="text" class="form-control" style="width:359px;" name="sections" value="<%= data.sections %>"placeholder="sections" />
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
            </div>
            <p><label for="name" style="color:white;">Preorders</label>
               <textarea name="preorder" style="width:359px;" placeholder="preorders" class="form-control" rows="1" cols="50"><%= data.preorder %></textarea>
          </div>
          
          <div class="input-group form-group">
            <div class="input-group-prepend">
            </div>
            <p><label for="name" style="color:white;">Message</label>
               <textarea name="message" style="width:359px;" placeholder="message" class="form-control" rows="1" cols="50"><%= data.message %></textarea>
          </div>
           
          <div class="input-group form-group">
            <div class="input-group-prepend">
            </div>    
          <p style="color:white; font-size: 15px; "> Status</p>
    <select id="status" name="status" style="width:520px; height:39px">   
    <option value="pending"
    <%if(data.status == "pending"){%>
        <%="selected"%>
    <%}%>
    >Pending</option>
    <option value="confirmed"
    <%if(data.status == "confirmed"){%>
        <%="selected"%>
    <%}%>
    >Confirm</option>
    <option value="canceled"
    <%if(data.status == "canceled"){%>
        <%="selected"%>
    <%}%>
    >Cancel</option>
  </select>
  </div>     
          
       <div class="input-group form-group">
            <div class="input-group-prepend">
            </div>
            <p><label for="name" style="color:white;">Comment</label>
               <textarea name="comment" style="width:359px;" placeholder="comment" autocomplete="on" class="form-control" rows="1" cols="50"></textarea>
          </div>

            <input type="hidden"  name="doc_id" value="<%= data.doc_id %>">
            <input type="hidden"  name="ref" value="<%= data.ref %>">
          
          <div class="form-group">
            <input type="submit" value="Submit" class="btn center submit_btn">
            
            <a type="submit"  class="btn center cancel_btn" href="/admin/reservations"> Cancel </a>
          </div>
          

        
        </form>
      </div>
      
    </div>
  </div>
</div>
        
 <script>
   const windowShut = () => {
   
          MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
        }
      
      document.getElementById("form").addEventListener("submit", windowShut);       

      /*
      const postFormData = (data) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://fbstarterbot.herokuapp.com/webview/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data)); 
      } */
  </script>       
</body>
</html>