<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 </head>

  <body>
  <h1>Reservations</h1>

 
  
  <table cellspacing="1" cellpadding="5" border="1" class="table table-dark"
>
    <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Package</th>   
    <th>Date</th>
    <th>Time</th>
    <th>Sections</th>
    <th>Message</th>
    <th>Reference</th>
    <th>Status</th>
    <th>Comment</th>
    <th>Action</th>
  </tr>


  <% data.forEach(function(reservation){ %>
     <tr>   
       <td><%= reservation.name %></td>
       <td><%= reservation.phone %></td>
       <td><%= reservation.package %></td>
       <td><%= reservation.date %></td>
       <td><%= reservation.time %></td>
       <td><%= reservation.sections %></td>
       <td><%= reservation.message %></td>
       <td><%= reservation.ref %></td>
       <td><%= reservation.status %></td>
       <td><%= reservation.comment %></td>
       <td><a href="updatereservation/<%= reservation.doc_id %>">Edit</a> | <a href="delete_reservation/<%= reservation.doc_id %>">Delete</a></td>
     </tr>
  <% }); %>

	</table>

  </body>

</html>