<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Reservations</h1>

 
  
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Package</th>   
    <th>Date</th>
    <th>Time</th>
    <th>Message</th>
    <th>Reference</th>
    <th>Status</th>
    <th>Comment</th>
    <th>Action</th>
  </tr>


  <% data.forEach(function(reservation){ %>
     <tr>
       <td><%= reservation.no %></td>     
       <td><%= reservation.name %></td>
       <td><%= reservation.phone %></td>
       <td><%= reservation.package %></td>
       <td><%= reservation.date %></td>
       <td><%= reservation.time %></td>
       <td><%= reservation.message %></td>
       <td><%= reservation.ref %></td>
       <td><%= reservation.status %></td>
       <td><%= reservation.comment %></td>
       <td><a href="updatereservation/<%= reservation.doc_id %>">Edit</a> | <a href="#">Delete</a></td>
     </tr>
  <% }); %>

	</table>

<p>Click the button to display the array values after the split.</p>
<button onclick="myFunction()">Try it</button>
<p id="demo"></p>
<script>
function myFunction() {
var str2="MFA/2017/";
var str = "MFA/2017/0001";
var res = str.split('/');
var Number=res[2];
// coerce the previous variable as a number and add 1
var incrementvalue = (+Number) + 1;
// insert leading zeroes with a negative slice
incrementvalue = ("0000" + incrementvalue).slice(-4); // -> result: "0002"
document.getElementById("demo").innerHTML = str2 + incrementvalue;
}
</script>
 
 

  </body>

</html>